:root {
	--position: static;
	--top: auto;
	--right: auto;
	--bottom: auto;
	--left: auto;
	--inset: auto;
	--z-index: auto;
	--float: none;
	--clear: none;
}
.position {
	position: var(--position);
	z-index: var(--z-index);
	float: var(--float);
	clear: var(--clear);

	&:not(.text) {
		top: var(--top);
		right: var(--right);
		bottom: var(--bottom);
		left: var(--left);
		inset: var(--inset);
	}
}