.test-links {
	flex-direction: column;
	gap: 0.5rem;
}
.test-box {
	padding: 0.25rem 1rem;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ddd;
	user-select: none;
}
.test-layout {
	height: 128px;
	margin: 0.5rem auto;
	padding: 0.25rem 0.5rem;
	background-color: var(--input-bg-color);
	border: 1px solid rgba(150, 150, 150, 0.05);
}
.test-grid {
	margin-top: 0.2rem;
	margin-bottom: 0.18rem;
	padding: 0.65rem 0.5rem;
	background-color: var(--input-bg-color);
	border: 1px solid rgba(150, 150, 150, 0.05);
	user-select: none;
}
.test-grid > * {
	background-color: rgba(150, 150, 150, 0.05);
	border: inherit;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04);
}
.grid-r-test-0 {
	--cols-min-width: 100px;
}
.grid-r-test-1 {
	--cols-xs: 6;
	--cols-md: 12;
	column-gap: 1%;
}
.grid-r-test-2 {
	--cols-xs: 2;
	--cols-xl: 4;
}
.grid-r-test-3 {
	--cols: 3;
}
.grid-r-test-3 > .c1 {
	--span: span 2;
}
.grid-r-test-4 {
	--cols-md: 3;
}
.grid-r-test-4 > .c1 {
	--span-md: span 2;
}
.test-grid-code {
	margin-bottom: 2rem;
	text-align: left;
}
.flex-test-2 {
	--justify-lg: space-between;
	--justify-xs: center;
	flex-wrap: wrap;
	align-content: center;
	height: 120px;
}

.flex-test-2 > .c1 {
	width: 260px;
}
.flex-test-2 > .c2 {
	width: 480px;
	--margin-md: calc(15% * var(--is-md));
	margin-left: var(--margin-md, 0);
	margin-right: var(--margin-md, 0);
}
.flex-test-3 {
	--justify-lg: space-between;
	--justify-xs: center;
	flex-wrap: wrap;
	align-content: center;
	align-items: baseline;
	min-height: 120px;
}
.flex-test-3 > .c1 {
	width: 280px;
}
.flex-test-3 > .c2 {
	width: 220px;
	height: 42px;
	line-height: 42px;

	--margin: calc(
		(25% * var(--is-md)) +
		(25% * var(--is-sm))
	);
	margin: 0 var(--margin, 0);
}
.flex-test-3 > .c3 {
	width: 280px;
}